<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380884727756-dd2ad2kv88th1un5980dvmhqklbcp10r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380884727756-dd2ad2kv88th1un5980dvmhqklbcp10r</string>
	<key>API_KEY</key>
	<string>AIzaSyAr96quxVVbIbafg6gcLlPkxjsMMjToTPk</string>
	<key>GCM_SENDER_ID</key>
	<string>380884727756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deaonApp</string>
	<key>PROJECT_ID</key>
	<string>deaon-c7671</string>
	<key>STORAGE_BUCKET</key>
	<string>deaon-c7671.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380884727756:ios:ac9d41093940cc4e51cf69</string>
</dict>
</plist>